
h1, h2, h3, h4 {
	margin-bottom:			0;
}

h2 {
	margin-top:				2;
}

#tax-year {
	background:				var(--input-color);
	color:					var(--text-color);
	box-shadow: 			0px 1px 4px var(--shadow-color);
	border-radius:			3px;
	font-size:				18px;
	font-weight:			700;
}

.button-container {
	display:				flex;
	/* justify-content:		flex-end;	/* Align the div block to the right. */
	justify-content:		center;		/* Align the div block to the right. */
	align-items:			flex-end;	/* Align buttons on bottom edge. */
	gap:					5px;		/* Optional: adds space between buttons */
	margin-bottom:			3px;
}

.calculate-button {
	padding-bottom:			3px;
}

.save-button {
	padding-bottom:			3px;
}

.restore-button {
	display: 				inline-block;
	cursor:					pointer;
	padding-left:			6px;
	padding-right:			6px;
}

.taxpayer-info-short-line {
	display:				grid;
	grid-template-columns:	150px 100px;
}

.taxpayer-info-short-line p {
	margin-top:				0;
	margin-bottom:			0;
}

.taxpayer-info-short-line input {
	margin-top:				0;
	margin-bottom:			0;
}

.taxpayer-info-long-line {
	display:				grid;
	grid-template-columns:	150px 400px;
}

.taxpayer-info-long-line p {
	margin-top:				0;
	margin-bottom:			0;
}

.tax-return-output {
	border:					1px solid var(--border-color);
}

.help-fields h3 {
	display: 				none;
}
