
h1, h2, h3 {
	margin-bottom:			0;
}

#TaxYear {
	background:				var(--background-color);
	color:					var(--text-color);
	box-shadow: 			0px 1px 4px var(--shadow-color);
	border-radius:			3px;
	font-size:				18px;
	font-weight:			700;
}

.save-restore {
	display:				flex;
	justify-content:		flex-end;	/* Align the div block to the right. */
	align-items:			flex-end;	/* Align buttons on bottom edge. */
	gap:					5px;		/* Optional: adds space between buttons */
	margin-bottom:			3px;
}

.save-button {
	padding-bottom:			3px;
}

.restore-button {
	display: 				inline-block;
	cursor:					pointer;
	padding-left:			6px;
	padding-right:			6px;
}

.taxpayer-info-box {
	border:					1px solid var(--border-color);
	padding:				0.5rem;
}

.taxpayer-info-container {
	display:				grid;
	grid-template-columns:	1.1fr 2fr .8fr .7fr;
}

.taxpayer-info-container p {
	margin-top:				0;	
	margin-bottom:			0;
}

.tax-formula-container {
	display:				grid;
	grid-template-columns:	1.1fr 2fr;
	margin-left:			1rem;
}

.tax-formula-container p {
	margin-top:				0;	
	margin-bottom:			0;
}

.taxpayer-data-container {
	display:				grid;
	grid-template-columns:	.8fr 2fr .5fr;
}

.taxpayer-data-container p {
	margin-top:				0;	
	margin-bottom:			0;
}

.label-field {
	padding-left:			4px;
	padding-right:			4px;
}

.help-fields h3 {
	display:				none;
}
