
body {
	display: flex;
	justify-content: center;
	padding: 40px;
}

.tool-container {
	background:				white;
	padding-top:			1rem;
	padding-bottom:			2rem;
	padding-left:			2rem;
	padding-right:			2rem;
	border-radius:			8px;
	box-shadow:				0 4px 6px var(--shadow-color);
	width:					100%;
	max-width:				450px;
}

.table {
	width:					15rem;
	display:				grid;
	grid-template-columns:	1fr 1fr;
}

.table p {
	margin-top:				0;	
	margin-bottom:			0;
	text-align:				right;
	padding-right:			6px;
}
			
.table input {
	border:					1px solid var(--border-color);
	padding-left:			2px;
	padding-right:			2px;
	background:				var(--input-color);
	color:					var(--text-color);
}
