
.table-1 {
	width:					28rem;
	display:				grid;
	grid-template-columns:	9rem 7rem 20rem;
	margin-bottom:			0;
}

.table-1 p {
	padding-right:			4px;
	margin-top:				0;
	margin-bottom:			0;
}

.table-1 input {
	margin-top:				0;
	margin-bottom:			0;
}

.table-2 {
	display:				grid;
	grid-template-columns:	.6fr 2fr .5fr;
}

.table-2 p {
	padding-right:			4px;
	margin-top:				0;
	margin-bottom:			0;
}

.table-2 input {
	margin-top:				0;
	margin-bottom:			0;
}
